__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
history_logs/
history_logs_cache/

.hypothesize
ai_judge_venv/
.env
history_logs/
history_logs_cache/
my_logs.txt
google-credentials.json
