.visualization-view {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-height: 0;
	min-width: 0;
	overflow: hidden;
}

.visualization-view__tabs-container {
	flex: 0 0 auto;
	min-height: 0;
	overflow-x: auto;
}

.visualization-view__content {
	flex: 1 1 auto;
	min-height: 0;
	min-width: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.visualization-view__panel {
	flex: 1 1 auto;
	min-height: 0;
	min-width: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

